.container{
padding:20px;
}

.loader{
height:70vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
border-radius:16px!important;
transition:.3s;
}

.card:hover{
transform:translateY(-4px);
box-shadow:0 10px 30px rgba(0,0,0,.12);
}